<div class="container mb-3">
  <div class="card">
    <div class="row">
      <% if business.image_url.present? %>
        <div class="col-md-4">
          <%= link_to business.url, target: '_blank' do %>
            <%= image_tag business.image_url, class: 'img-fluid' %>
          <% end %>
        </div>
      <% end %>
      <div class="col">
        <div class="card-body">
          <h5 class="card-title"><%= business.name %></h5>
          <p class="card-text"><%= pluralize(business.articles.count, 'article') %><br />
          <%= pluralize(business.locations.count, 'location') %></p>
          <%= link_to "View", business_path(business), class: "btn btn-outline-secondary mb-2 float-right" %>
        </div>
      </div>
    </div>
  </div>
</div>