<div class="container">
  <%= simple_form_for business do |f| %>
    <%= f.input :name %>
    <%= f.input :url %>
    <%= f.input :notes %>
    <div class="row">
     <div class="col-sm-12 col-md-6">
        <h3>Locations</h3>
        <div id="locations">
          <%= f.simple_fields_for :locations do |location| %>
            <%= render 'location_fields', f: location %>
          <% end %>
          <div class="links">
            <%= link_to_add_association 'Add Location', f, :locations, class: 'btn btn-outline-primary' %>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <h3>Articles</h3>
        <div id="articles">
          <%= f.simple_fields_for :articles do |article| %>
            <%= render 'article_fields', f: article %>
          <% end %>
          <div class="links">
            <%= link_to_add_association 'Add Article', f, :articles, class: 'btn btn-outline-primary' %>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <%= f.button :submit, class: 'btn btn-success' %>
    </div>
  <% end %>
</div>