<%= simple_form_for business do |f| %>
  <%= f.input :name %>
  <%= f.input :notes %>
  <h3>Locations</h3>
  <div id="locations">
    <%= f.simple_fields_for :locations do |location| %>
      <%= render 'location_fields', f: location %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'Add Location', f, :locations %>
    </div>
  </div>
  <h3>Articles</h3>
  <div id="articles">
    <%= f.simple_fields_for :articles do |article| %>
      <%= render 'article_fields', f: article %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'Add Article', f, :articles %>
    </div>
  </div>
  <%= f.button :submit, class: 'btn btn-primary' %>
<% end %>