<div class="container">
  <div class="row d-flex">
    <div class="col">
      <h1><%= business.name %>
      <% if business.url.present? %>
        <span class="small text-monospace align-baseline">
          <%= link_to business.url, target: '_blank' do %>
            <%= business.url %> <%= fa_icon "external-link-alt" %> 
          <% end %>
        </span>
      <% end %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-2">
      <% if business.image_url.present? %>
        <%= link_to business.url || '#', target: '_blank' do %>
          <%= image_tag business.image_url, class: 'img-fluid' %>
        <% end %>
      <% end %>
    </div>
    <div class="col">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h3>Locations</h3>
          <ul class="list-group list-group-flush">
            <% business.locations.each do |l| %>
              <li class="list-group-item"><p><%= l.display_name %><br><%= l.address %></p></li>
            <% end %>
            <li class="list-group-item">
              <%= link_to '#', data: { toggle: "modal", target: "#addLocationModal" }, class: 'btn btn-outline-primary' do %>
                <%= fa_icon 'plus' %> Location
              <% end %>
            </li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-6">
          <h3>Articles</h3>
          <ul class="list-group list-group-flush">
            <% business.articles.each do |article| %>
              <li class="list-group-item"><%= link_to article.headline, article.url, target: '_blank' %></li>
            <% end %>
            <li class="list-group-item">
              <%= link_to '#', data: { toggle: "modal", target: "#addArticleModal" }, class: 'btn btn-outline-primary' do %>
                <%= fa_icon 'plus' %> Article
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

<% if current_user.admin? %>
  <%= link_to 'Edit', edit_business_path(@business) %> |
<% end %>
<%= link_to 'Back', businesses_path %>
<%= render partial: 'location_modal' %>
<%= render partial: 'article_modal' %>
